.app{
  display: grid;
  place-items: center;
  height: 100vh;
  background-color: #ffcdd2 ;
}

.app__body {
  display: flex;
  background-color: #cb9ca1;
  margin-top: -50px;
  height: 90vh;
  width: 90vh;
  box-shadow: -1px 4px 20px -6px rgba(0,0,0,0.75);
}