.chat {
    display: flex;
    flex-direction: column;
    flex: 0.65;
}
.chat__header {
    padding: 15px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid lightgray;
}

.chat__block {
    flex:1;
    margin-left: auto;
}

.chat__body {
    flex:1;
    padding: 30px;
    overflow-y: scroll;
    background-color: #ffebee;
}

.chat__message {
    position: relative;
    font-size: 16px;
    padding: 10px;
    width: fit-content;
    border-radius: 10px;
    background-color: #ffffff;
    margin-bottom: 30px;
}

.chat__receiver {
    background-color: #cb9ca1;
    margin-left: auto;
}

.chat__timestamp {
    margin-left: 10px;
    font-size: xx-small;
}

.chat__writing {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    border-top: 1px solid lightgray;
}

.chat__writing > form {
    flex: 1;
    display: flex;
}

.chat__writing > form > input{
    flex: 1;
    border-radius: 30px;
    padding: 10px;
    border: none;
    outline-width: 0;
}

.chat__writing > form > button {
    display: none;
}

