.sidebar {
    display: flex;
    flex-direction:column;
    flex:0.35;
}

.sidebar__header {
    display:flex;
    justify-content: space-between;
    padding: 20px;
    border-right: 1px solid #f6f6f6;
    border-bottom: 1px solid #f6f6f6;
    border-width: 1px;
}

.sidebar__headerRight {
    display:flex;
    align-items: center;
    justify-content: space-between;
    min-width: 10vw;
}

.sidebar__headerRight > .MuiSvgIcon-root {
    margin-right: 2vw;
    margin-top: 1vw;
    font-size: 30px;
}

.sidebar__search {
    display: flex;
    align-items: center;
    height:20px;
    padding: 10px;
    margin-bottom: 10px;
}

.sidebar__searchContainer {
    display: flex;
    margin-top: 10px;
    align-items: center;
    background-color: lightgray;
    width: 100%;
    height:35px;
    border-radius: 20px;
}

.sidebar__searchContainer > input {
    border: none;
    margin-left: 10px;
    background-color: lightgray;
    outline-width: 0;
}


.sidebar__chats {
    flex:1;
    overflow-y: scroll;
    overflow-y: hidden;
}